remote {{ server.host }} {{ server.port }} {{ server.protocol }}

verb 4
client
nobind
dev tun
cipher AES-256-GCM
key-direction 1
#redirect-gateway def1
tls-client
remote-cert-tls server
# uncomment below lines for use with linux
#script-security 2
# if you use resolved
#up /etc/openvpn/update-resolv-conf
#down /etc/openvpn/update-resolv-conf
# if you use systemd-resolved first install openvpn-systemd-resolved package
#up /etc/openvpn/update-systemd-resolved
#down /etc/openvpn/update-systemd-resolved

{%- if pass_auth %}
auth-user-pass
{%- endif %}

<cert>
{{ cert }}
</cert>
<key>
{{ key }}
</key>
<ca>
{{ ca }}
</ca>
<tls-auth>
{{ tls }}
</tls-auth>